


@media (max-width: 667px) {

  
    /* detail start*/
  
    .hero-detail-col {
      text-align: justify;
      padding-left: 17px;
    }
  
    
    .hero-detail-card {
      padding: 30px;
      box-shadow: none;
      margin-top: 0px;
    }
  
    .back-btn {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .border {
        margin-top: 20px;
;
    }
  
    /* detail end */
  
   
    
  }
  